

video{
    width:100%;
    max-width:500px;
    border:1px solid #999;
    border-radius:10px;
}

.buttons{
    margin-top:20px;
}

button{
    padding:12px 30px;
    font-size:18px;
    margin:10px;
}
html,
body{
    margin:0;
    width:100%;
    height:100%;
    background:black;
    overflow:hidden;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
}

.fullscreen{
    background:black;
}
